// TODO: responsive
.Login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.ui.container {
    width: 450px;
  }

  .header {
    text-align: center;
  }

  .login-btn {
    margin-top: 1.5em;
  }

  .logout-btn {
    margin-bottom: 1em;
  }
}
